name: sync

on:
  push:
    branches:
      - main

jobs:
  sync:
    name: "sync"
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Git
        run: |
          git config user.name "axol-systems[bot]"
          git config user.email "axol[bot]@axol.systems"
          git config pull.rebase false

      - name: Merge live into staging
        run: |
          git fetch origin staging
          git checkout staging
          git merge origin/live --ff --no-edit
          git push origin staging
